.pageinfo{
      padding-top:10px;
      margin-right:10px;
      color:#333333;
      clear:both;
      float:left;
}

.pagelimit{
  padding-top:10px;
	color:#333333;
	float:left;
}

.labelcss{
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
}

.pagenate{
      color: #333333;
      float: right;
      text-align: right;
      padding-top: 0.25em;
}

.pagenate .paginatebutton {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333333 !important;
    border: 1px solid transparent;
}

.paginatebutton.current,
.paginatebutton.current:hover{
    color: #333333 !important;
    border: 1px solid #cacaca;
    background-color: white;
    background: linear-gradient(to bottom, white 0%, gainsboro 100%);
}

.paginatebutton.current:hover{
	color: #333333 !important;
    border: 1px solid #cacaca;
    background-color: white;
    background: linear-gradient(to bottom, white 0%, gainsboro 100%);
}

.pagenate .paginatebutton:hover{
	color: white !important;
    border: 1px solid #111111;
    background-color: #585858;
    background: linear-gradient(to bottom, #585858 0%, #111111 100%);
}

.paginatebutton.disabled{
	cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
